.sec1{
    margin: auto;
    background-color: #E0AB98;
    background-size: cover;
    
}
.my-name{
    text-align: center;
    font-family: sans-serif;
}
.quote{
    font-style: italic;
    font-size: larger;
    text-align: center;
    
}
.intro{
    font-size: large;
    letter-spacing: normal;
}
.sec3{
    background-color: #f8e4df;
    
}
.button{
    border: none;
    text-decoration: underline;
}